VITE_API_SERVER_URL=http://localhost:8080/api/v1
VITE_FIREBASE_API_KEY=AIzaSyD-Your-API-Key-Here
VITE_FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:abcdefg12345678
VITE_FIREBASE_MEASUREMENT_ID=G-XXXXXXX